@import "../../templates.scss";

%styleBtnSave {
  background-color: rgb(90, 172, 68);
  padding: 2px 15px 2px 15px;
  border: none;
  color: white;
  border-radius: 2px;
}

.modal-50w {
  min-width: 50% !important;
}

.modal-description-body {
  .take-task {
    display: flex;
    margin-top: 15px;
  }
  .take-task-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    > button {
      border: none;
      padding: 4px 12px 4px 12px;
      background-color: rgb(90, 172, 68);
      color: white;
    }
  }
  h2 {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 1px;
    font-weight: 700;
    color: rgb(31, 31, 31);
  }
  p {
    color: #595858;
    font-weight: 300;
  }
  .modal-description-header-block-one {
    display: flex;
  }
  .modal-description-add-description {
    display: flex;
  }
  .modal-description-select-input {
    background-color: rgb(234, 236, 240);
    height: 55px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    &:hover {
      background-color: rgb(207, 209, 212);
      transition: 0.4s all;
      > p {
        color: black;
      }
    }
    > p {
      margin-left: 10px;
      padding: 4px;
      color: rgb(31, 31, 31);
    }
  }
  .modal-description-input {
    margin-top: 10px;
    > textarea {
      min-width: 100% !important;
      resize: none;
      height: 70px;
      margin: 5px 16px 5px 0px;
    }
    .modal-description-btn-save {
      @extend %styleBtnSave;
    }
  }
  .modal-description-actions-block {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    .modal-description-actions {
      display: flex;
    }
    button {
      background-color: rgb(234, 236, 240);
      border: none;
      padding: 2px 10px 2px 10px;
      font-weight: 400;
      font-size: 14px;
      border-radius: 5px;
      &:hover {
        background-color: rgb(207, 209, 212);
        transition: 0.4s all;
      }
    }
  }

  .modal-decription-active-add {
    background-color: rgb(236, 236, 236);
    width: 100%;
    padding: 5px;
    box-shadow: 0px 0px 3px rgb(105, 105, 105);
    .modal-decription-active-add-btn {
      display: flex;
      justify-content: space-between;
      button {
        @extend %styleBtnSave;
        margin-top: 5px;
        margin-left: 10px;
      }
    }
    > input {
      width: 100%;
      background-color: rgb(236, 236, 236);
      padding: 10px;
      border: none;
      font-size: 14px;
      font-weight: 400;
      &:focus {
        outline: none;
      }
    }
  }

  .modal-description-comment {
    margin-top: 20px;
    display: flex;
    .modal-description-add-comment-btn {
      background-color: rgb(234, 236, 240);
      border-radius: 5px;
      margin-top: 10px;
      width: 100%;
      cursor: pointer;
      &:hover {
        background-color: rgb(207, 209, 212);
        transition: 0.4s all;
      }
      p {
        margin-left: 10px;
        padding: 5px;
      }
    }
    .icon-profile-comment {
      @extend %styleProfileIcon;
      margin-right: 10px;
      width: 33px;
      align-self: center;
    }
    > input {
      width: 100%;
      height: 40px;
    }
  }
}

.modal-description-close-icon {
  margin-left: 5px;
  margin-bottom: 2px;
  cursor: pointer;
}

.clip {
  margin-top: 11px;
}

.comment-main-block{
  display: flex;
  flex-direction: column-reverse;
}

.comment-item {
  display: flex;

  .icon-profile-comment {
    @extend %styleProfileIcon;
    margin-right: 10px;
    width: 31px;
    align-self: center;
    > p {
      font-weight: 600;
    }
  }
  .Ñommentators-info-item {
    display: flex;
    > p {
      font-weight: 500;
      font-size: 14px;
      margin-top: 10px;
      margin-left: 5px;
    }
  }
  .comment-text {
    margin-left: 5px;
    background-color: rgb(234, 236, 240);
    border-radius: 5px;
    > p {
      padding: 5px;
      font-weight: 600;
    }
  }
}
.comment-item-another {
  display: flex;
}

.panel-of-control-task{
  >h1{
    font-size:20px;
    margin-top:10px;
  }
  >button{
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 2px;
    border:1px solid black;
    padding: 5px;
  }
}
