@import "../../templates.scss";
@import "../../variables.scss";

%font {
  font-size: 20px;
  font-weight: 700;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 10% 0;
  min-height: 200px;
}

// ---------------------------------------------------------------------------------

.boards-page {
  display: flex;
  .mark-recomendation {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 47px;
    font-weight: 200;
  }
  .star-icon-boards-page {
    display: flex;
    justify-content: space-between;
    z-index: 9999999;
    > h1 {
      margin-top: 5px;
      font-size: 12px;
      font-weight: 400;
    }
    &:hover {
      color: white;
      transition: 0.5s all;
    }
  }
  .main-link-boards {
    height: 65px;
    color: white;
    z-index: 9999999;
    font-size: 18px;
    font-weight: 700;
  }
  .main-body-boards {
    margin-top: 10px !important;
  }
  .body-page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .boards-page-body {
    margin-top: 80px;
    width: 100%;
    .boards-page-header {
      margin-left: 11px;
      display: flex;
      color: #172b4d;
      > h1 {
        font-size: 18px;
        margin-left: 10px;
        margin-top: 1px;
      }
    }
  }
  .boards-body {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 10px;
    > h1 {
      width: 794px;
      padding: 30px 30px 30px 0px;
      color: #172b4d;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 1px;
      margin: 10px 0px 10px 0px;
    }
    .board {
      z-index: 0;
      flex-basis: 190px;
      height: 100px;
      background-color: rgb(241, 241, 241);
      margin: 5px;
      border-radius: 2px;
      padding: 5px;
      position: relative;
      cursor: pointer;
      color: black;
      text-decoration: none;
      &::after {
        content: "";
        z-index: -2;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.208);
        left: 0;
        top: 0;
        transition: opacity 0.2s;
        opacity: 0;
        border-radius: 5px !important;
      }
      &:hover::after {
        opacity: 1;
      }

      > p {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 10% 0;
        min-height: 50px;
        font-size: 14px;
      }
    }
  }
}

// ---------------------------------------------------------------------------------

.card-page {
  min-height: 100vh;
  overflow: auto;
  .header-card-page {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
    .header-card-page-block-two {
      display: flex;
      padding: 5px;
      margin-top: 5px;
      cursor: pointer;
      p {
        background-color: rgba(0, 0, 0, 0.1);
        margin-right: 7px;
        border-radius: 2px;
        padding: 1px 10px 1px 10px;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 8px;
      }
    }
    .header-card-page-block-one {
      display: flex;
      padding: 5px 5px 5px 0px;
      margin-top: 5px;
      .name-command-card-page {
        margin-left: 5px;
        > h1 {
          background-color: rgba(0, 0, 0, 0.08);
          margin-left: 7px;
          border-radius: 2px;
          padding: 5px 10px 7px 10px;
          font-size: 16px;
          font-weight: 400;
        }
      }
      .name-board-card-page {
        margin-left: 5px;

        > h1 {
          margin-left: 7px;
          border-radius: 2px;
          padding: 3px 10px 4px 10px;
          font-size: 20px;
          font-weight: 700;
          &:hover {
            background-color: rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
  .card-body {
    display: flex;
    min-width: 100%;
    min-height: calc(100vh - 100px);
    overflow-x: auto;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 0px;

    .none-card-add {
      display: none;
    }
    .card-add {
      padding: 8px 20px 8px 20px;
      background-color: rgba(0, 0, 0, 0.25);
      border-radius: 2px;
      color: white;
      align-self: flex-start;
      margin: 10px;
      width: 180px;
      font-size: 14px;
      cursor: pointer;
      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }
      > p {
        margin-bottom: 0;
      }
    }
    .card-item {
      background-color: rgb(235, 236, 240);
      flex-basis: 270px;
      min-height: 80px;
      margin: 10px 0px 10px 10px;
      border-radius: 2px;
      padding: 10px 10px 0px 10px;
      align-self: start;
      flex-shrink: 0;
      > p {
        padding: 0px 5px 0px;
        color: rgb(38, 56, 88);
        font-size: 14px;
      }
      .card-item-input-title {
        margin-bottom: 6px;

        > input {
          width: 100%;
          border-radius: 5px;
          border: 2px solid rgb(0, 121, 191);
          padding: 5px;
        }
      }
      > textarea {
        height: 70px;
        resize: none;
        width: 100%;
        border-radius: 3px;
        font-size: 14px;
        padding: 3px;
      }
      .add-card-text {
        cursor: pointer;
        padding: 5px;
        font-size: 14px;
        margin-bottom: 10px;
        &:hover {
          background-color: rgba(190, 190, 190, 0.534);
          border-radius: 4px;
        }
      }
      .add-card-btn-block {
        display: flex;
        justify-content: space-between;
        .close-icon {
          margin-left: 5px;
          margin-bottom: 4px;
          cursor: pointer;
          color: rgb(109, 109, 109);
          &:hover {
            color: black;
          }
        }
        button {
          padding: 2px;
          width: 100px;
          background-color: rgb(90, 172, 68);
          color: white;
          border-radius: 2px;
          border: none;
          margin-bottom: 7px;
          &:hover {
            background-color: rgb(95, 179, 72);
            transition: 0.2s all;
          }
        }
        .role-add-card-page {
          .header-role-block {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgb(214, 214, 214);
            margin-bottom: 10px;
            height: 35px;
          }
          .add-role-to-form-btn {
            width: 100% !important;
            margin-top: 5px;
          }
          .add-role-to-task-btn {
            width: 100%;
            background-color: rgb(66, 66, 192);
          }
          > select {
            padding: 3px;
            border-radius: 2px;
            margin-top: 5px;
          }
          position: absolute;
          z-index: 99999;
          margin-right: 20px;
          background-color: white;
          display: flex;
          margin-top: 32px;
          margin-left: 220px;
          flex-direction: column;
          width: 450px;
          padding: 10px;
          border-radius: 3px;
          border: 1px solid rgb(207, 207, 207);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
        }
        .more-icon {
          position: relative;
          color: rgb(109, 109, 109);
          margin-top: 1.5px;
          cursor: pointer;
          padding: 1px;
          &:hover {
            background-color: rgb(196, 196, 196);
            color: rgb(20, 20, 20);
            transition: 0.2s all;
            border-radius: 3px;
          }
        }
      }
    }
  }
}

.task-item {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
  overflow: hidden;
  padding: 6px 8px 2px;
  margin-bottom: 10px;
  cursor: pointer;
  > p {
    clear: both;
    display: block;
    margin: 0 0 4px;
    overflow: hidden;
    text-decoration: none;
    word-wrap: break-word;
    color: #172b4d;
    font-size: 13px;
  }
  &:hover {
    background-color: rgb(240, 240, 240);
    transition: 0.2s all;
  }
}

@media screen and (max-width: 800px) {
  .begin-container {
    margin: 20px 0 0 0 !important;
  }
}

.vis-hidden {
  visibility: hidden;
}

.menu-emergence {
  transition: 1s all;
  visibility: visiable;
}

.arr-task {
  max-height: calc(70vh - 100px);
  overflow: auto;
}

.item-block-icon-state {
  display: flex;
}

.selected-text {
  font-weight: 500;
}

.menu-txt {
  vertical-align: -1px;
}
