@import "mixins.scss";

.name-error,
.mail-error,
.password-error {
  input {
    border: 3px solid rgba(202, 45, 45, 0.9) !important;
  }
}

.authentication {
  text-align: center;
  font-family: "Segoe UI";

  > h1 {
    font-size: 3em;
    margin-top: 20px;
    color: black;
    font-weight: 900;
    margin-bottom: 20px;
  }
}

.authentcation-form {
  display: flex;
  flex-direction: column;
  margin: 0px auto 24px;
  width: 400px;
  padding: 32px 40px;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: 0px 0px 10px black;
  box-sizing: border-box;
  color: rgb(94, 108, 132);

  > h2 {
    padding: 10px;
    color: rgb(61, 61, 61);
    font-size: 1.2em;
    font-weight: 600;
  }

  > p {
    color: rgb(51, 51, 214);

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  > hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: black;
    height: 1px;
  }
}

.mail,
.name,
.password,
.btn-register {
  padding: 15px 0px 15px 0px;
}

.mail,
.name,
.password {
  input {
    padding: 5px;
    border: 3px solid rgba(230, 230, 230, 0.9);
    border-radius: 2px;
    width: 100%;
    font-size: 15px;

    &:hover {
      background-color: rgba(230, 230, 230, 0.9);
      transition: 0.4s;
    }

    &:focus {
      border: 3px solid rgb(0, 82, 204);
    }
  }
}

.mail,
.name {
  position: relative;
}

.warning-icon-email,
.warning-icon-name {
  position: absolute;
  right: 9px;
  top: 23px;
  color: rgb(204, 133, 0);
}

.password {
  position: relative;

  > input {
    padding-right: 30px;
  }
}

.eye-icon-block {
  position: absolute;
  right: 7px;
  top: 19px;
}

.eye-icon {
  color: rgb(43, 43, 43);
  cursor: pointer;
}

.eye-icon-hidden {
  visibility: hidden;
  position: absolute;
}

.eye-icon-vis {
  margin-top: 2px;
}

.reliability-block-one {
  background: rgb(223, 225, 230);
  height: 2px;
  margin-top: 5px;
  position: relative;

  &:before {
    background: rgb(223, 225, 230);
    bottom: 0px;
    content: "";
    left: 0px;
    position: absolute;
    top: 0px;
    transition: all 0.2s ease-out 0s;
    width: 0%;
  }
}

.reliability-block-two {
  border-left: 5px solid white;
  border-right: 5px solid white;
  inset: 0px 19%;
  position: absolute;

  &:after {
    border-left: 5px solid white;
    border-right: 5px solid white;
    inset: 0px 30%;
    content: "";
    position: absolute;
  }
}

.message-text {
  color: rgb(137, 147, 164);
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  margin-top: 5px;
  position: relative;
  text-align: center;
}

.btn-authentication {
  > button {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid white;
    background-color: rgb(0, 82, 204);
    color: white;

    &:hover {
      background-color: rgb(0, 97, 241);
    }
  }
}

.warning-icon-block {
  visibility: hidden !important;
  position: absolute;
}

.warning-icon-active {
  visibility: visible !important;
}

// Стили логина

.btn-login {
  button {
    background-color: rgb(90, 172, 68) !important;
  }
}

.log-error-hidden {
  display: none;
}

.log-error {
  color: white;
  font-size: 15px;
  background-color: rgb(235, 90, 70);
  padding: 10px;
  border-radius: 10px;
}

// стили надежности пароля

.one {
  &::before {
    @include animRelib(rgb(120, 30, 0), 20%);
  }
}

.two {
  &::before {
    @include animRelib(rgb(200, 50, 0), 40%);
  }
}

.three {
  &::before {
    @include animRelib(rgb(255, 184, 31), 60%);
  }
}

.four {
  &::before {
    @include animRelib(rgb(0, 253, 0), 80%);
  }
}

.five {
  &::before {
    @include animRelib(rgb(0, 139, 0), 100%);
  }
}
