@import "../../../templates.scss";

%padd {
  padding: 4px;
  margin-top: 4px;
}

.header {
  background-color: #161b22;
  padding: 5px;
  display: flex;
  padding-left: 5px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  margin-bottom: 100px;
  z-index: 1;
  .menu-header {
    display: flex;
    .header-item {
      display: flex;
      align-self: center;
      color: black;
      margin-right: 7px;
      border-radius: 2px;
      padding: 2px 4px 2px 4px;
      background-color: rgb(225, 225, 225);
      height: 33px;
      h2 {
        font-size: 16px;
        margin-top: 5px;
        font-weight: 400;
        margin-right: 3px;
        margin-left: 3px;
        @extend %noselect;
        a {
          color: black;
        }
      }
      .home-icon-header {
        color: black;
        margin-bottom: 1px;
      }
      .dashboard-icon-header {
        margin-bottom: 3px;
      }
      &:hover {
        background-color: white;
        cursor: pointer;
      }
      div {
        align-self: center;
      }
      h1 {
        font-size: 14px;
        margin: 5px 10px 5px 12px;
      }
    }
    .header-input {
      > input {
        padding: 2.5px;
        width: 100%;
        &:focus {
          width: 175%;
          transition: all 0.2s ease-out 0s;
        }
      }
    }
  }
  .header-logo {
    display: flex;
    color: white;
    flex-basis: 210px;
    color: rgb(225, 225, 225);
    h1 {
      font-size: 20px;
      margin-top: 2px;
      margin-left: 5px;
      @extend %noselect;
    }
  }
  .item-header-email {
    display: flex;
    .notification-icon {
      color: black;
      border: 1px solid white;
      border-radius: 2px;
      margin-right: 5px;
      padding: 0px 4px 0 4px;
      background-color: rgb(225, 225, 225);
      height: 33px;
      &:hover {
        background-color: white;
        cursor: pointer;
      }
    }
    .icon-profile {
      @extend %styleProfileIcon;
      @extend %noselect;
    }
  }
}

.number-of-natifications {
  vertical-align: -2px;
  margin-right: 5px;
  color: black;
}

@media screen and (max-width: 800px) {
  .header-input {
    display: none;
  }
}
