@import "../../../templates.scss";

.recent-activity-body-main {
  display: flex;
  flex-direction: column-reverse;
}

.activity-item {
  display: flex;
  margin-top: 15px;
  margin-left: 5px;
  .icon-profile-recent-activity {
    @extend %styleProfileIcon;
    min-width: 30px !important;
    margin-top: 5px;
    align-self: center;
  }
}
.сommentators-info {
  margin-left: 15px;
  width: 480px;
  > p {
    width: 220px;
    word-wrap: break-word;
    color: #172b4d;
    font-size: 14px;
    font-weight: 500;
  }
  .date-сommentators-info {
    margin-top: -15px;
    font-weight: 400;
    color: #808c9e;
  }
}
