.modal-40w {
  min-width: 40%;
}

.modal-confirmation {
  > h1 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .modal-confirmation-btns {
    display: flex;
    justify-content: space-between;
    > button {
      width: 48%;
      border: none;
      padding: 4px;
      font-weight: 300;
      border-radius: 2px;
    }
    .delete-modal-confirmation {
      background-color: rgb(207, 81, 61);
      color: white;
      &:hover{
      background-color: rgb(221, 88, 67);

      }
    }
    .close-modal-confirmation {
      background-color: rgb(116, 116, 116);
      color: white;
    }
  }
}
