@import "../../../templates.scss";

.user-block {
  position: fixed;
  width: 280px;
  will-change: top, left;
  top: 44px;
  right: 0px;
  background-color: white;
  color: #172b4d;
  line-height: 20px;
  font-weight: 400;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
  box-sizing: border-box;
  outline: 0;
  overflow: hidden;
  z-index: 99999;
  .header-user-block {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(209, 209, 209);
    padding: 10px;
    margin: 0px 10px 0px 10px;
    .close-user {
      cursor: pointer;
      &:hover {
        color: rgb(95, 95, 95);
      }
    }
    > p {
      margin: 0 auto;
      font-size: 20px;
      padding-left: 25px;
      font-weight: 700;
    }
  }
  .user-profile-block {
    padding: 10px;
    .user-profile-block-info {
      margin-left: 10px;
      > h1 {
        font-size: 16px;
        font-weight: 450;
        margin-bottom: 10px;
        > span {
          font-weight: 600;
        }
      }
    }
  }
  .menu-user-block {
    padding: 0px 20px 0px 20px;

    > h1 {
      font-size: 16px;
      margin-bottom: 14px;
      font-weight: 450;
      cursor: pointer;
      background-color: rgb(207, 81, 61);
      color: white;
      padding: 6px 6px 6px 5px;
      border-radius: 2px;
      text-align: center;
      @extend %noselect;
      &:hover {
        background-color: rgb(219, 86, 66);
      }
    }
  }
}
