%padd {
  padding: 4px;
  margin-top: 4px;
}

.header {
  background-color: #161b22;
  padding: 5px;
  display: flex;
  padding-left: 5px;
  justify-content: space-between;
  .menu-header {
    display: flex;
    .header-item {
      display: flex;
      align-self: center;
      color: white;
      border: 1px solid white;
      margin-left: 7px;
      border-radius: 2px;
      padding: 2px 4px 2px 4px;
      background-color: #313131;
      &:hover {
        background-color: #3b3b3b;
        cursor: pointer;
      }
      div {
        align-self: center;
      }
      h1 {
        font-size: 14px;
        margin: 5px 10px 5px 12px;
      }
    }
    .header-input {
      margin-left: 5px;
      > input {
        padding: 2.5px;
        width: 100%;
        &:focus {
          width: 175%;
          transition: all 0.2s ease-out 0s;
        }
      }
    }
  }
  .header-logo {
    display: flex;
    color: white;
    flex-basis: 310px;
    h1 {
      font-size: 20px;
    }
  }
  .item-header-email {
    display: flex;
    .notification-icon {
      color: white;
      border: 1px solid white;
      border-radius: 2px;
      margin-right: 5px;
      padding: 0px 4px 0 4px;
      background-color: #313131;
      &:hover {
        background-color: #3b3b3b;
        cursor: pointer;
      }
    }
    .icon-profile {
      background-color: rgb(119, 119, 119);
      border-radius: 100%;
      width: 31px;
      height: 31px;
      margin-top: 1px;
      p {
        text-align: center;
        margin-top: 2px;
      }
      &:hover{
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .header-input {
    display: none;
  }
}
