.mark-header-boards-main-page {
  display: flex;

  > h1 {
    font-size: 18px;
    margin-left: 10px;
    margin-top: 1px;
  }
}

.boards-main-page-header {
  margin-left: 11px;
  display: flex;
  justify-content: space-between;
  max-width: 794px;
  flex-wrap: wrap;
  margin-top: 10px;
  .btn-block-boards-main-page {
    display: flex;
    flex-wrap: wrap;
    > div {
      width: 150px;
      margin-left: 10px;
      background-color: #e6e6e6;
      text-align: center;
      padding: 3px 2px 6px 2px;
      border-radius: 3px;
      cursor: pointer;
      color: #172b4d !important;
      > span {
        margin-left: 5px;
        vertical-align: -1px;
        font-weight: 400;
        a {
          color: #172b4d;
        }
      }
      &:hover{
      background-color: #dfdede;

      }
    }
  }
  .logo-team-boards-main-page {
    display: flex;
    margin-top: 5px;
    color: #172b4d !important;
    white-space: nowrap; /* Отменяем перенос текста */
  }
  h1 {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis;
    width: 100px;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 1px;
    color: #172b4d !important;
  }
}
