@import "../../../../templates.scss";

.modal-60w {
  min-width: 70% !important;
  .modal-body {
    background-color: rgb(235, 236, 240);
  }
}

.take-task {
  display: flex;
  margin-top: 15px;
  color: rgb(66, 82, 110);
  > h2 {
    @extend %nameSection;
  }
}

.modal-description-actions-block {
  display: flex;
  margin-top: 15px;
  color: rgb(66, 82, 110);
  > h2 {
    @extend %nameSection;
  }
}

// ----------------------------------------------------------

.clip {
  margin-top: 11px;
}
