@import "../../../../templates.scss";

.modal-description-comment {
  margin-top: 10px;
  display: flex;
  margin-left: 30px;
  color: rgb(23, 43, 77);
  h1 {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #595858;
    font-weight: 300;
  }
  .modal-description-add-comment-btn {
    background-color: white;
    box-shadow: 0px 0px 1px black;
    border-radius: 2px;
    margin-top: 3px;
    width: 100%;
    cursor: pointer;
    height: 35px;
    &:hover {
      box-shadow: 0px 0px 3px black;
      transition: 0.1s all;
    }
    p {
      margin-left: 10px;
      padding: 5px 0px 5px 0px;
    }
  }
  .icon-profile-comment {
    @extend %styleProfileIcon;
    margin-right: 10px;
    width: 33px;
    align-self: center;
  }
  > input {
    width: 100%;
    height: 40px;
  }
}

.comment-item {
  display: flex;
  .icon-profile-comment {
    @extend %styleProfileIcon;
    margin-right: 10px;
    width: 31px;
    align-self: center;
    > p {
      font-weight: 600;
    }
  }
  .Ñommentators-info-item {
    display: flex;
    > p {
      font-weight: 500;
      font-size: 14px;
      margin-left: 5px;
      margin-top: 20px;
    }
  }
  .comment-text {
    margin-left: 5px;
    background-color: rgb(234, 236, 240);
    border-radius: 5px;
    word-wrap: break-word;
    min-width: 100px;
    margin-top: -20px;
    > p {
      padding: 8px 15px 8px 15px;
      font-weight: 600;
    }
  }
}
.comment-item-another {
  display: flex;
}

.modal-description-add-description {
  display: flex;
  color: rgb(66, 82, 110);
  margin-top: 20px;
  > h2 {
    @extend %nameSection;
  }
}

.comment-main-block {
  display: flex;
  flex-direction: column-reverse;
}

.modal-decription-active-add {
  background-color: rgb(236, 236, 236);
  width: 100%;
  padding: 5px;
  box-shadow: 0px 0px 3px rgb(105, 105, 105);
  .modal-decription-active-add-btn {
    display: flex;
    justify-content: space-between;
    button {
      @extend %styleBtnSave;
      margin-top: 5px;
      margin-left: 5px;
      width: 100px;
    }
  }
  > input {
    width: 100%;
    background-color: rgb(236, 236, 236);
    padding: 5px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    &:focus {
      outline: none;
    }
  }
}
