@import "../../../../templates.scss";

.modal-description-comment {
  margin-top: 10px;
  display: flex;
  margin-left: 30px;
  color: rgb(23, 43, 77);
  h1 {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
  }
  .modal-description-add-comment-btn {
    background-color: white;
    box-shadow: 0px 0px 1px black;
    border-radius: 2px;
    margin-top: 3px;
    width: 100%;
    cursor: pointer;
    height: 35px;
    &:hover {
      box-shadow: 0px 0px 3px black;
      transition: 0.1s all;
    }
    p {
      margin-left: 10px;
      padding: 5px 0px 5px 0px;
    }
  }
  .icon-profile-comment {
    @extend %styleProfileIcon;
    margin-right: 10px;
    width: 33px;
    align-self: center;
  }
  > input {
    width: 100%;
    height: 40px;
  }
}

.comment-item {
  display: flex;
  margin-left: 30px;
  .icon-profile-comment {
    @extend %styleProfileIcon;
    width: 31px;
    align-self: center;
    margin-right: 10px;
    > p {
      font-weight: 600;
    }
  }
  .Ñommentators-info-item {
    display: flex;
    > p {
      color: rgb(23, 43, 77);
      font-weight: 700;
      font-size: 14px;
      margin-top: 20px;
    }
  }
  .comment-text {
    background-color: white;
    box-shadow: 0px 0px 1px black;
    border-radius: 2px;
    word-wrap: break-word;
    margin-top: -20px;
    > p {
      color: #172b4d;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 5px 10px 5px 10px;
      font-weight: 400;
    }
  }
  .date-comment {
    margin-top: -5px;
    > p {
      font-weight: 400;
      color: #808c9e;
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
}

.comment-item-another {
  display: flex;
}

.modal-description-add-description {
  display: flex;
  color: rgb(66, 82, 110);
  margin-top: 20px;
  > h2 {
    @extend %nameSection;
  }
}

.comment-main-block {
  display: flex;
  flex-direction: column-reverse;
}

.modal-decription-active-add {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 5px;
  box-shadow: 0px 0px 3px rgb(105, 105, 105);
  .modal-decription-active-add-btn {
    display: flex;
    .close-icon-comment-block {
      margin-left: 10px;
      margin-top: 5px;
      color: rgb(66, 82, 110);
      cursor: pointer;
      &:hover {
        transition: 0.2s all;
        color: black;
      }
    }
    button {
      @extend %styleBtnSave;
      margin-top: 5px;
      margin-left: 5px;
      width: 100px;
      font-size: 14px;
      padding: 5px 10px 5px 10px;
      &:hover {
        transition: 0.2s all;
        background-color: rgb(99, 189, 74);
      }
    }
  }
  > input {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    &:focus {
      outline: none;
    }
  }
}
